*{
    box-sizing: border-box;
}
body{
    background-image: url(back.jpeg);
    background-color: azure;
}
.my-container {
    width: 90%;
    margin:0 auto;
    max-width:1500px;
}
.my-container2 {
    width: 90%;
    margin:0 auto;
    max-width:1500px;
    margin-top: 20px;   
}
.main-content{
    padding: 20px 50px;
    background-color:white;    
    margin-left: 0;
    margin-right:auto;   
}
#hamburger{
    color:#44AB88;
}
.brand-color{
    color:white;
    background-color:#44AB88;
}
.but-color{
    background-color:#44AB88;
}
.img1{
    width:150px;
    height:230px;  
}
a{
    color:black;
}
.active-page{
    font-weight: bold;
}
.head-color{
    color:#44AB88;
    margin-bottom: 0;   
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-top:20px;
    padding-bottom: 20px;
    border-top: 5px solid #44AB88;
  }
.btn-color{
    background-color:#44AB88;
    color:white;
}
.form-control{
    width:50%;
}
  @media(max-width:576px) {
      .my-container2, .container, .main-content{ 
          width:100%;
          margin-left: 0;
          margin-right:0;
          margin-bottom:0;       
      }
  }

