body{
    background-image: url(back.jpeg);
    background-color: azure;
}

.my-container {
    width: 90%;
    margin:0 auto;
    max-width:1500px;

}
.my-container2 {
    width: 90%;
    margin:0 auto;
    max-width:1500px;
    border: 1px solid red;
    margin-top: 20px;
}

.section-bg{
    background-color:white;
}

.main-content{

    padding-top: 10px;
    width:70%;    
    margin-left:0;
    margin-right: auto;   
}